<div id="control-bar">
  <div class="btn-group"></div>
  <button class="btn btn-sm btn-info" (click)="goBack()"><< Back</button>
  <button type="button" class="btn btn-sm pull-right btn-danger" (click)="loginComponent.logOut()">Log Out</button>
  <button type="button" class="btn btn-sm pull-right btn-info" (click)="openSystemModal(true)">System</button>
</div>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Info">
    <ng-template ngbTabContent>
      <div *ngIf="loadBalancer" class="graph-container">
        <b>Kube Name:</b> {{ loadBalancer.kube_name }}<br />
        <b>Name:</b> {{ loadBalancer.name }}<br />
        <b>Namespace:</b> {{ loadBalancer.namespace }}<br />
        <b>Public Address:</b> {{ loadBalancer.address || loadBalancer.resource.status.loadBalancer.ingress[0].hostname }}<br />
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Raw Data">
    <ng-template ngbTabContent>
      <textarea class="form-control" disabled>
{{loadBalancer | json}}
      </textarea>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
