<div id="control-bar">
  <div class="btn-group"></div>
  <button class="btn btn-sm btn-info" (click)="goBack()"><< Back</button>
  <button type="button" class="btn btn-sm pull-right btn-danger" (click)="loginComponent.logOut()">Log Out</button>
  <button type="button" class="btn btn-sm pull-right btn-info" (click)="openSystemModal(true)">System</button>
</div>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Info">
    <ng-template ngbTabContent>
      <div *ngIf="app" class="graph-container">
        <b>App Name:</b> {{ app.name }}<br />
        <b>Repo:</b> {{ app.repo_name }}<br />
        <b>Description:</b> {{ app.description }}<br />
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Raw Data">
    <ng-template ngbTabContent>
      <textarea class="form-control" disabled>
{{app | json}}
      </textarea>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
