<app-users-header></app-users-header>
<div id="item_list_container">
  <table id="item_list" class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr app-user *ngFor="let user of users | Search:usersService.searchString | paginate: { itemsPerPage: 10, currentPage: p[i], id: id }" [user]="user"></tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <pagination-controls (pageChange)="p[i] = $event" [id]="id"></pagination-controls>
  </nav>
</div>
