{{ define "layout" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>
        {{ .title }}
      </title>

      <link rel="shortcut icon" href="/ui/assets/img/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/ui/assets/img/favicon.ico" type="image/x-icon">

      <!-- Vendor -->
      <script src="/ui/assets/js/vendor/jquery-3.1.0.min.js"></script>

      <!-- Font -->
      <link href="/ui/assets/fonts/Montserrat-Regular.ttf" rel="stylesheet">
      <link href="/ui/assets/fonts/OpenSans-Regular.ttf" rel="stylesheet">
      <link href="/ui/assets/fonts/OpenSans-Semibold.ttf" rel="stylesheet">

      <!-- Supergiant main styles -->
      <link rel="stylesheet" href="/ui/assets/css/main.css">

      <!-- Supergiant main JavaScript -->
      <script src="/ui/assets/js/main.js"></script>
      <script src="/ui/assets/js/modal.js"></script>
      <script src="/ui/assets/js/dropdown.js"></script>

    </head>
    <body>

      <div id="container">

        <div id="sidebar">

          <a href="/" id="logo">
            Supergiant
          </a>

          <div id="nav">
            <a class='{{ if eq .title "Sessions" }}active{{ end }}' href="/ui/sessions">Sessions</a>
            <a class='{{ if eq .title "Users" }}active{{ end }}' href="/ui/users">Users</a>
            <a class='{{ if eq .title "Cloud Accounts" }}active{{ end }}' href="/ui/cloud_accounts">Cloud Accounts</a>
            <a class='{{ if eq .title "Kubes" }}active{{ end }}' href="/ui/kubes">Kubes</a>
            <a class='{{ if eq .title "Nodes" }}active{{ end }}' href="/ui/nodes">Nodes</a>
            <a class='{{ if eq .title "Load Balancers" }}active{{ end }}' href="/ui/load_balancers">Load Balancers</a>
            <a class='{{ if eq .title "Pods" }}active{{ end }}' href="/ui/pods">Pods</a>
            <a class='{{ if eq .title "Services" }}active{{ end }}' href="/ui/services">Services</a>
            <a class='{{ if eq .title "Volumes" }}active{{ end }}' href="/ui/volumes">Volumes</a>
            <a class='{{ if eq .title "Helm Repos" }}active{{ end }}' href="/ui/helm_repos">Helm Repos</a>
            <a class='{{ if eq .title "Helm Charts" }}active{{ end }}' href="/ui/helm_charts">Helm Charts</a>
            <a class='{{ if eq .title "Helm Releases" }}active{{ end }}' href="/ui/helm_releases">Helm Releases</a>
          </div>

        </div>

        <div id="content">
          {{ template "body" . }}
        </div>

      </div>

    </body>
  </html>
{{ end }}

// We define empty blocks for optional content so we don't have to define a block in child templates that don't need them
{{ define "not_required_stuff" }}{{ end }}
