<ng-template style="width: 80%;" #systemModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="system">Supergiant: Alpha</h4>
  </div>
  <div class="modal-body">
    <ngb-tabset type="pills" justify="center">
      <ngb-tab title="Logs">
        <ng-template ngbTabContent>
          <div id="log" [innerHTML]="logData"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Notifications">
        <ng-template ngbTabContent>
          <div id="item_list_container">
            <table id="item_list" class="table table-hover">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <div id="system-container">
                  <tr *ngFor="let notificationItem of notificationItems">
                    <td>{{ notificationItem[0] }}
                      <td>{{ notificationItem[1] }}
                  </tr>
                </div>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-template>
