.modal-dialog.modal-lg {
  max-width: 90%;
  max-height: 90%;
}

.tab-content {
  padding-top: 10px;
}

div#system-container {
  padding-top: 5px;
  height: 400px;
}

div#log {
  border-radius: 4px;
  background: #222;
  color: #777;
  white-space: pre-wrap;
  height: 90%;
  padding: 0 0 0 15px;
  overflow-y: scroll;
  font-family: Consolas, Menlo, Courier, monospace;
}

#item_list_container {
  height: calc(100% - 61px);
  overflow-y: scroll;
}

table#item_list {
  margin-top: -1px;
  min-width: 600px;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  font-size: 13px;
}

table#item_list td, table#item_list th, table#item_list tr {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table#item_list th {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #999;
  padding: 8px 0;
  font-weight: normal;
}

table#item_list th:first-child {
  width: 60px;
}

table#item_list td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 30px;
}

table#item_list td:first-child {
  padding-right: 0;
}

table#item_list a:hover, table#item_list a:active {
  color: #0e6ccc;
  text-decoration: underline;
}
