<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="node.id" (ngModelChange)="nodesService.selectItem(node, $event)" checked="false" [ngModel]="nodesService.isChecked(node)" />
      <label [for]="node.id"></label>
    </div>
  </div>
</td>
<td>{{ node.kube_name }}</td>
<td>{{ node.size }}</td>
<td>{{ node.provider_id }}</td>
<td>{{ round((node.cpu_usage / node.cpu_limit) * 100) }}%</td>
<td>{{ round((node.ram_usage / node.ram_limit) * 100) }}%</td>
<td>
  <div [class]="status(node)"></div>
  <button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="[node.id]">Details >></button>
</td>
