<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="service.id" (ngModelChange)="servicesService.selectItem(service, $event)" checked="false" [ngModel]="servicesService.isChecked(service)" />
      <label [for]="service.id"></label>
    </div>
  </div>
</td>
<td>{{ service.name }}</td>
<td>{{ service.kube_name }}</td>
<td>{{ service.namespace }}</td>
<td>
  <div [class]="status(service)"></div>
  <button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="[service.id]">Details >></button>
</td>
