<app-repo-modal></app-repo-modal>
<app-apps-header></app-apps-header>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Apps">
    <ng-template ngbTabContent>
      <div id="item_list_container">
        <table id="item_list" class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Apps</th>
              <th>Repo Name</th>
              <th>Version</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr app-helm-app *ngFor="let app of apps | Search:appsService.searchString | paginate: { itemsPerPage: 10, currentPage: pApps[i], id: id }" [app]="app"></tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <pagination-controls (pageChange)="pApps[i] = $event" [id]="id"></pagination-controls>
        </nav>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Deployments">
    <ng-template ngbTabContent>
      <div id="item_list_container">
        <table id="item_list" class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Kube Name</th>
              <th>Chart Name</th>
              <th>Chart Version</th>
              <th>Revision</th>
              <th>Updated</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr app-deployment *ngFor="let deployment of deployments | Search:appsService.searchString | paginate: { itemsPerPage: 10, currentPage: pDeployments[i], id: id }" [deployment]="deployment"></tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <pagination-controls (pageChange)="pDeployments[i] = $event" [id]="id"></pagination-controls>
        </nav>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
