<div class="app-clusters-container">
  <section class="app-context-header-panel">
    <button type="button" class="back-button" (click)="goBack()"></button>

    <h1>
      <i class="fa fa-server"></i> {{ kube?.name }}
    </h1>

    <div class="context-secondary-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Cloud Account</th>
            <th scope="col">
              Master Node<span *ngIf="kube?.kube_master_count > 1">s</span>
            </th>
            <th scope="col">Master Public IP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ kube?.name }}</td>
            <td>{{ kube?.cloud_account_name }}</td>
            <td>{{ kube?.master_node_size }} x{{ kube?.kube_master_count }}</td>
            <td>{{ kube?.master_public_ip }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div style="width: 50%; float: left;">
      <h2 align="center">CPU (Millicores)</h2>

      <canvas baseChart width="600" height="200" [datasets]="cpuChartData" [labels]="cpuChartLabels" [legend]="cpuChartLegend" [options]="cpuChartOptions" [colors]="cpuChartColors" [chartType]="cpuChartType">
      </canvas>
    </div>

    <div style="width: 50%; float: left;">
      <h2 align="center">RAM (GB)</h2>

      <canvas baseChart width="600" height="200" [colors]="ramChartColors" [datasets]="ramChartData" [labels]="ramChartLabels" [options]="ramChartOptions" [chartType]="ramChartType">
      </canvas>
    </div>

    <div style="clear: both; height: 1px; width: 100%;"></div>
  </section>
  <!-- <b>Planets: ( Have your kube username and password handy from the "Raw Data tab")</b>
    <ul class="nav flex-column nav-pills">
      <li *ngFor="let planet of planets" class="nav-item">
        <button class="btn btn-sm btn-outline-primary" (click)="planetName=planet.name; getIframeURL(planet.name)">{{ planet?.name }}</button>
      </li>
    </ul>

  <div class="graph-container">
    <iframe class="full" #iframe [src]="secureSrc" (load)="onIframeLoad()" frameborder="0" width="95%" height="1000px"></iframe>
  </div> -->

  <section>
    <app-apps-list *ngIf="kube" [kube]="kube"></app-apps-list>
  </section>


  <section>
    <app-nodes-list *ngIf="kube" [kube]="kube"></app-nodes-list>
  </section>

  <section>
    <app-pods-list *ngIf="kube" [kube]="kube"></app-pods-list>
  </section>

  <section class="details-showmore">
    <button (click)="showRaw = !showRaw" type="button" class="btn btn-info btn-block">Show/hide raw data</button>

    <div *ngIf="showRaw">
      <h2>Raw Data</h2>

      <textarea class="form-control" disabled rows="120">
        {{kube | json}}
      </textarea>
    </div>
  </section>
</div>