<div class="app-accounts-container">
  <section class="app-account-details">
    <div class="app-context-header-panel">
      <button class="back-button" (click)="goBack()">
        <span class="sr-only sr-only-focusable">Back</span>
      </button>

      <h2><i class="fa fa-cloud"></i> Cloud Account Details</h2>
    </div>

    <ngb-tabset>
      <ngb-tab title="Info">
        <ng-template ngbTabContent>
          <div *ngIf="cloudAccount" class="graph-container">
            <b>Cloud Provider:</b> {{ cloudAccount.provider }}<br />

            <b>Name:</b> {{ cloudAccount.name }}<br />
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Raw Data">
        <ng-template ngbTabContent>
            <textarea class="monospace" disabled>
              {{cloudAccount | json}}
          </textarea>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </section>
</div>
