<div class="app-nav-container">
  <nav class="app-nav">
    <a class="app-nav-logo" [routerLink]="['/dashboard']">
      Supergiant Container Orchestration System
    </a>

    <div class="app-nav-main" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="app-nav-bar">
        <li class="nav-item"><a [routerLink]="['/dashboard']" class="nav-link" routerLinkActive="active">
          <i class="fa fa-tachometer"></i>
          Dashboard
        </a></li>
        
        <li class="nav-item"><a [routerLink]="['/clusters']" class="nav-link" routerLinkActive="active">
          <i class="fa fa-server"></i>
          Clusters
        </a></li>

        <li class="nav-item"><a [routerLink]="['/apps']" class="nav-link" routerLinkActive="active">
          <i class="fa fa-puzzle-piece"></i>
          Apps
        </a></li>
      </ul>
    </div>

    <div class="app-metanav">
      <button class="app-nav-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <span ngbDropdown placement="bottom-right">
        <button ngbDropdownToggle
          class="app-metanav-btn"
          type="button"
          id="app-meta-menu-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >
          <i class="fa fa-gear"></i>
          <span class="sr-only" aria-hidden="true"> System</span>
        </button>

        <div ngbDropdownMenu aria-labelledby="app-meta-menu-button" placement="right-bottom">
          <a class="dropdown-item" [routerLink]="['/system/cloud-accounts']">
            <i class="fa fa-cloud"></i>
            Cloud Accounts
          </a>
          <a class="dropdown-item" [routerLink]="['/system/main']">
            <i class="fa fa-link"></i>
            App &amp; Helm Repositories
          </a>
          <a class="dropdown-item disabled" [routerLink]="['/system/capacity']">
            <i class="fa fa-expand"></i>
            Capacity
          </a>
          <a class="dropdown-item" [routerLink]="['/system/users']">
            <i class="fa fa-key"></i>
            Users &amp; Keys
          </a>
          <!-- <a class="dropdown-item" [routerLink]="['/sessions']">
            <i class="fa fa-users"></i>
            Active Sessions
          </a> -->
        </div>
      </span>

      <span ngbDropdown placement="bottom-right">
        <button ngbDropdownToggle
          class="app-usermenu-btn"
          type="button"
          id="app-user-menu-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >
          <i class="fa fa-user-circle-o"></i>
          <span class="sr-only" aria-hidden="true"> System</span>
      </button>

      <div ngbDropdownMenu aria-labelledby="app-user-menu-button" placement="right-bottom">
        <a class="dropdown-item" href="#log-out" (click)="loginComponent.logOut()">
            <i class="fa fa-sign-out"></i>
            Log Out Now
          </a>
      </div>
      </span>
    </div>
  </nav>
</div>
