{{ define "item_list" }}
  <!-- JS -->
  <script src="/ui/assets/js/index.js"></script>

  <!-- Confirm Action Modal -->
  <div class="modal fade" id="confirm_action" tabindex="-1" role="dialog" aria-labelledby="confirmAction">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmAction">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <p>
            You are about to <strong id="modal_action_name" class="text-info"></strong> the following items:
          </p>
          <ul id="modal_list"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_action_btn"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Options Modal -->
  <div class="modal fade" id="new_options" tabindex="-1" role="dialog" aria-labelledby="newOption">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newOption">Select an option</h4>
        </div>
        <div class="modal-body">

          <select class="form-control input-lg" onchange="window.location.href = '{{ .uiBasePath }}/new?option=' + $(this).val()">
            <option disabled selected value> -- </option>
            {{ range $key, $val := .newOptions }}
              <option value="{{ $key }}">{{ $val }}</option>
            {{ end }}
          </select>

        </div>
      </div>
    </div>
  </div>

  <!-- Log Modal -->
  <div class="modal fade" id="system" tabindex="-1" role="dialog" aria-labelledby="system">
    <div class="modal-dialog" role="document" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="system">Supergiant {{ .supergiantVersion }}</h4>
        </div>
        <div class="modal-body">

          <div id="log"></div>

        </div>
      </div>
    </div>
  </div>




  <div id="control-bar">

    <div class="btn-group">
      {{ if .showNewLink }}
        {{ if .newOptions }}
          <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#new_options" id="new">New</a>
        {{ else }}
          <a class="btn btn-primary" href="{{ .uiBasePath }}/new" id="new">New</a>
        {{ end }}
      {{ end }}

      {{ if or .actionPaths .batchActionPaths }}

        <div class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions</button>
          <ul class="dropdown-menu">
            {{ range $label, $path := .actionPaths }}
              <li><a href="#" data-action-path="{{ $path }}" data-toggle="modal" disabled class="disabled">{{ $label }}</a></li>
            {{ end }}

            {{ if and .actionPaths .batchActionPaths }}
              <li role="separator" class="divider"></li>
            {{ end }}

            {{ range $label, $ap := .batchActionPaths }}
              <li><a href="#" data-method="{{ $ap.method }}" data-batch-action-path="{{ .apiBasePath }}{{ $ap.relativePath }}" data-toggle="modal" data-target="#confirm_action" disabled class="disabled">{{ $label }}</a></li>
            {{ end }}
          </ul>
        </div>

      {{ end }}
    </div>


    <div id="searchbar-icon"></div>

    <div id="filters"></div>

    <input id="searchbar" type="text" placeholder="field:value">

    <ul id="mini-nav">
      <!-- <li>
        <span style="color: #999; font-size: 11px; font-family: Consolas, Menlo, Courier, monospace;">{{ .supergiantVersion }}</span>
      </li> -->
      <li><a href="#" data-toggle="modal" data-target="#system">System</a></li>
      <li><a href="#" id="logout">Logout</a></li>
    </ul>

  </div>


  <script type="text/javascript">
    $(function() {

      $('#logout').click(function() {

        $.ajax({
          type: 'DELETE',
          url: '/api/v0/sessions/{{ .sessionID }}',
          beforeSend: function(xhr){
            xhr.setRequestHeader('Authorization', 'SGAPI session="' + getCookie('supergiant_session') + '"');
          },
          success: function() {
            location.reload();
          }
        })

        return false;
      });

    });
  </script>





  <div id="item_list_container">
    <table id="item_list" data-ui-base-path="{{ .uiBasePath }}" data-api-base-path="{{ .apiBasePath }}" data-fields-json="{{ .fieldsJSON }}" data-show-status="{{ .showStatusCol }}">
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination">
      </ul>
    </nav>
  </div>


{{ end }}
