{{ define "body" }}
  <div class="row" id="main_row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">

          {{ if .error }}
            <div class="alert alert-danger" role="alert">{{ .error }}</div>
          {{ end }}

          <form method="{{ .formMethod }}" action="{{ .formAction }}">

            <div class="form-group">
              <textarea rows=20 class="form-control" name="json_input"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
              Create
            </button>

          </form>

        </div>
      </div>

      <style>
        .badTextarea, .badTextarea:focus {
          box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
          border: 1px solid rgba(255, 0, 0, 0.5);
        }
      </style>

      <script type="text/javascript">

        function prettyPrint(ugly) {
          return JSON.stringify(JSON.parse(ugly), undefined, 4);
        }

        var modelJSON = prettyPrint('{{ .modelJSON }}'),
            textarea = $('textarea[name="json_input"]');

        $(function() {

          textarea.val(modelJSON);
          textarea.on("keyup", function(event) {

            // If enter key pressed
            if (event.keyCode == 13) {
              var content = this.value;
              var caret = textarea.prop("selectionStart");

              var contentBeforeLine = content.substring(0, caret - 1);
              var contentAfterLine = content.substring(caret, content.length);

              var indentMatch = contentBeforeLine.match(/\n([\t ]*)[^\n]+$/);
              var prevLineIndentation;

              if (indentMatch) {
                prevLineIndentation = indentMatch[1];
              } else {
                return false;
              }

              // Update content
              this.value = contentBeforeLine + "\n" + prevLineIndentation + contentAfterLine

              // Update cursor position
              caret += prevLineIndentation.length;
              textarea.prop("selectionStart", caret)
              textarea.prop("selectionEnd", caret)

              // NOTE I don't think this is needed... I don't think default behavior is to submit textarea on enter
              event.stopPropagation();
            }


            try {
              prettyPrint(this.value);
              textarea.removeClass("badTextarea");
            }
            catch(err) {
              textarea.addClass("badTextarea");
            }

          });

        });

      </script>
    </div>
  </div>
{{ end }}
