<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="loadBalancer.id" (ngModelChange)="loadBalancersService.selectItem(loadBalancer, $event)" checked="false" [ngModel]="loadBalancersService.isChecked(loadBalancer)" />
      <label [for]="loadBalancer.id"></label>
    </div>
  </div>
</td>
<td>{{ loadBalancer.kube_name }}</td>
<td>{{ loadBalancer.name }}</td>
<td>{{ loadBalancer.address || loadBalancer.resource.status.loadBalancer.ingress[0].hostname}}</td>
<td>
  <div [class]="status(loadBalancer)"></div>
  <button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="[loadBalancer.id]">Details >></button>
</td>
