<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="deployment.id" (ngModelChange)="appsService.selectItem(deployment, $event)" checked="false" [ngModel]="appsService.isChecked(deployment)" />
      <label [for]="deployment.id"></label>
    </div>
  </div>
</td>
<td>{{ deployment.name }}</td>
<td>{{ deployment.kube_name }}</td>
<td>{{ deployment.chart_name }}</td>
<td>{{ deployment.version }}</td>
<td>{{ deployment.revision }}</td>
<td>{{ deployment.updated }}</td>
<td>
  <div [class]="status(deployment)"></div>
</td>
<td><button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="['deployment/' + deployment.id]">Details >></button></td>
