<div id="control-bar">
  <div class="btn-group"></div>
  <button class="btn btn-sm btn-info" (click)="goBack()">
    <i class="fa fa-chevron-left"></i>
    Back
  </button>
</div>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Info">
    <ng-template ngbTabContent>
      <div *ngIf="service" class="graph-container">
        <b>Kube Name:</b> {{ service.kube_name }}<br />
        <b>Name:</b> {{ service.name }}<br />
        <b>Namespace:</b> {{ service.namespace }}<br />
        <b>Status:</b> {{ service.resource.passive_status }}<br />
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="isDataAvailable" title="Metrics">
    <ng-template ngbTabContent>
      <div class="graph-container">
        <h1 align="center">CPU (Millicores)</h1>
        <canvas baseChart #baseChart="base-chart" [colors]="cpuChartColors" [datasets]="cpuChartData" [labels]="cpuChartLabels" [options]="cpuChartOptions" [chartType]="cpuChartType"></canvas>
      </div>
      <div class="graph-container">
        <h1 align="center">RAM (GB)</h1>
        <canvas baseChart #baseChart="base-chart" [colors]="ramChartColors" [datasets]="ramChartData" [labels]="ramChartLabels" [options]="ramChartOptions" [chartType]="ramChartType"></canvas>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Raw Data">
    <ng-template ngbTabContent>
      <textarea class="form-control" disabled>
{{service | json}}
      </textarea>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
