<app-volumes-header></app-volumes-header>
<!-- <app-header></app-header> -->
<div id="item_list_container">
  <table id="item_list" class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Kube Name</th>
        <th>Capacity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr app-volume *ngFor="let volume of volumes | Search:volumesService.searchString | paginate: { itemsPerPage: 10, currentPage: p[i], id: id }" [volume]="volume"></tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <pagination-controls (pageChange)="p[i] = $event" [id]="id"></pagination-controls>
  </nav>
</div>
