<h2>Cloud Accounts</h2>

<div class="context-search-layout">
  <input type="search" placeholder="Search Cloud Accounts" (input)="setSearch($event.target.value)">
</div>

<div class="context-secondary-panel">
  <button class="btn btn-primary" id="new" (click)="sendOpen(true)">New</button>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-sm btn-outline-primary" id="actions" ngbDropdownToggle>Actions</button>

    <div class="dropdown-menu" aria-labelledby="actions">
      <button class="dropdown-item" (click)="editCloudAccount()">Edit</button>

      <button class="dropdown-item" (click)="deleteCloudAccount()">Delete</button>
    </div>
  </div>
</div>
