<h2>Users</h2>

<div class="context-search-layout">
  <input type="search" placeholder="Search Apps" (input)="setSearch($event.target.value)">
</div>

<div class="context-secondary-panel">
  <button class="btn btn-sm btn-outline-primary" id="new" (click)="newUser(true)">New</button>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-sm btn-outline-primary" id="actions" ngbDropdownToggle>Actions</button>

    <div class="dropdown-menu" aria-labelledby="actions">
      <button class="dropdown-item" (click)="editUser()">Edit</button>

      <button class="dropdown-item" (click)="deleteUser()">Delete</button>

      <button class="dropdown-item" (click)="generateApiToken()">Regenerate API Token</button>
    </div>
  </div>
</div>
