html, body, #container, #sidebar, #content {
  height: 100%;
  margin: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

body, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
}



#container {
  /*display: table;*/
  /*position: absolute;*/
}

#sidebar, #content {
  /*display: table-cell;*/
  box-sizing: border-box;
  /*vertical-align: top;*/
}

#sidebar {
  width: 250px;
  border-right: 1px solid #ddd;

  float: left;
  overflow-y: hidden;
}

#content {
  /*width: 100%;*/
  background: #f2f1f7;

  margin-left: 250px;

}

#logo {
  display: block;
  height: 160px;
  text-indent: -9999px;
  background: url(/ui/assets/img/supergiant.svg) no-repeat;
  background-size: 130px auto;
  background-position: center;
}

#nav a {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-size: 13px;
  display: block;
  padding: 13px 59px;
  border-top: 1px solid #ddd;
}

#nav a:hover, #nav a:active {
  background: #fafafa;
}

#nav a.active {
  background: #0e6ccc;
  color: white;
}

#nav a:last-child {
  border-bottom: 1px solid #ddd;
}




#control-bar {
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  min-width: 559px;
}

a#new::after {
  content: "+";
  font-size: 17px;
  line-height: 0;
  position: relative;
  left: 8px;
  top: 2px;
  padding-right: 3px;
}



button.dropdown-toggle::after {
  content: '';
  background: url(/ui/assets/img/dropdown-caret.svg) no-repeat;
  background-size: 11px;
  display: inline-block;
  background-position: center;
  height: 6px;
  width: 10px;
  position: relative;
  left: 6px;
  top: -1px;
  padding-right: 3px;
  opacity: 0.7;
}


button {
  outline: none;
}


.btn-group {
  display: inline-block;
  padding: 12px;
}

.btn {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 1px;
  padding: 9px 14px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  outline: none;
}

.btn.btn-primary {
  background: #0e6ccc;
  color: white;
  text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.btn.btn-primary:hover {
  background: #0d61b7;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.dropdown-toggle.open {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.btn-default {
  border: 1px solid #b4b4b4;
  background: #f3f3f3;
  color: #4e4e4e;
}

.btn.btn-default:hover {
  background: #ebebeb;
}












.dropdown {
  position: relative;
  display: inline-block;
}

ul.dropdown-menu {
  display: none;

  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px 0px;
  background-clip: padding-box;
  position: absolute;
  list-style-type: none;
  min-width: 160px;
  margin: 1px 0 5px 0;
  padding: 5px 0;
  left: 1px;
}

ul.dropdown-menu.open {
  display: block;
  z-index: 99;
}

ul.dropdown-menu li a {
  display: block;
  padding: 4px 13px;
  font-size: 14px;
  white-space: nowrap;
}

ul.dropdown-menu li a:hover {
  background-color: rgba(0,0,0,0.05);
}

ul.dropdown-menu li a.disabled {
  pointer-events: none;
  color: #888;
}

ul.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  background-color: #e5e5e5;
}







#item_list_container {
  height: calc(100% - 61px);
  overflow-y: scroll;
}

table#item_list {
  margin-top: -1px;
  min-width: 600px;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  font-size: 13px;
}

table#item_list td, table#item_list th {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table#item_list th {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #999;
  padding: 8px 0;

  font-weight: normal;
}

table#item_list th:first-child {
  width: 60px;
}

table#item_list td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 30px;
}

table#item_list td:first-child {
  padding-right: 0;
}

table#item_list a:hover, table#item_list a:active {
  color: #0e6ccc;
  text-decoration: underline;
}







input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
  background: white;
  border: 1px solid #bbb;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  margin: auto;
  left: -2px;
}

.checkbox:hover {
  border: 1px solid #9c9c9c;
}

.checkbox label {
  cursor: pointer;
	opacity: 0;
	width: 17px;
	height: 17px;
  background: #0e6ccc;
  top: -1px;
  left: -1px;
  position: absolute;
	border-radius: 50%;
}

.checkbox label:after {
  position: absolute;
	content: '';
	width: 7px;
	height: 7px;
  top: 5px;
  left: 5px;
  background: white;
	border-radius: 50%;
}

.checkbox input[type=checkbox]:checked + label {
	opacity: 1;
}








input#searchbar {
  height: 30px;
  width: 300px;
  background: none;
  border: none;
  padding-left: 10px;
}

input#searchbar:focus {
  outline: none;
}

#searchbar-icon {
  border-left: 1px solid #e0e0e0;
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(/ui/assets/img/magnifier.svg) no-repeat;
  background-size: 16px auto;
  padding-left: 14px;
  background-position-x: 14px;
  position: relative;
  top: 4px;
}





#filters {
  position: absolute;
  z-index: 100;
  top: 20px;
  display: inline-block;
}

.search-filter {
  background: #999999;
  color: white;
  font-size: 12px;
  padding: 6px 13px;
  border-radius: 50px;
  padding-right: 18px;
  position: relative;
  display: inline-block;
  bottom: 5px;
  margin-left: 8px;
  left: 4px;
}

.search-filter .close {
  line-height: 15px;
  text-shadow: none;
  float: right;
  font-size: 18px;
  font-weight: 400;
  color: white;
  filter: alpha(opacity=40);
  opacity: .4;
  position: relative;
  left: 7px;
}

.search-filter .close:hover,
.search-filter .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=80);
  opacity: .8;
}










.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.75);
}

.modal-dialog {
  position: relative;
  width: 600px;
  margin: 30px auto;
}

.modal-content {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header h4 {
  margin: 0;
  font-size: 16px;
}

.modal-body {
  padding: 15px;
  font-size: 14px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}





.form-group {
  margin-bottom: 15px;
}



/*TODO legacy from bootstrap*/
/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 10px;
}*/

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


textarea.form-control {
  height: auto;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
  background: aliceblue;
  line-height: 20px;
}






.text-muted {
  opacity: 0.6;
}

.text-primary, .text-info {
  color: #0e6ccc;
}

.text-danger {
  color: #CC0000;
}

.text-success {
  color: #19ce55;
}

.text-warning {
  color: #ffbb33;
}



.status-text {
  position: relative;
  bottom: 6px;
  left: 7px;
}




.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.status:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  position: relative;
}

.status-ok {
  border: 1px solid #19ce55;
}

.status-ok:after {
  background: #19ce55;
}

.status-warning {
  border: 1px solid #ffbb33;
}

.status-warning:after {
  background: #ffbb33;
}

.status-danger {
  border: 1px solid #CC0000;
}

.status-danger:after {
  background: #CC0000;
}

.status-transitioning {
  border: 1px solid white;
  border-top-color: rgba(14, 108, 204, 1);
  border-left-color: rgba(14, 108, 204, 1);
  animation-name: rotate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.status-transitioning:after {
  background: #0e6ccc;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}











.pagination {
  display: inline-block;
  padding-left: 0;
  /*margin: 20px 0;*/
  border-radius: 4px;

  float: right;
  margin: 16px;

}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #0e6ccc;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #0e6ccc;
  border-color: #0e6ccc;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}














/*This is for the resource graphs*/
.graph-line {
  fill: none;
  stroke-width: 3px;
}


.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}









ul#mini-nav {
  display: inline-block;
  list-style-type: none;
  position: absolute;
  right: 10px;
}

ul#mini-nav li {
  display: inline-block;
  padding: 6px 10px;
}

ul#mini-nav li a {
  color: #999;
  text-decoration: underline;
}

ul#mini-nav li a:hover {
  color: #444;
}





div#log {
  border-radius: 4px;
  background: #222;
  color: #777;
  white-space: pre-wrap;
  height: 400px;
  padding: 0 0 0 15px;
  overflow-y: scroll;
  font-family: Consolas, Menlo, Courier, monospace;
}




/* Bootstrap legacy */
.sr-only {
  display: none;
}




form {
  padding: 15px;
}
