@font-face {
    font-family: 'Doppio One';
    font-style: normal;
    font-weight: 400;
    src: local('Doppio One'), local('Doppio One'), url(../vendor/fonts/Doppio-One.ttf) format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #444;
  font-family: 'Doppio One', sans-serif;
}

.container-fluid#main {
  height: 100%;
  /* We do this cuz navbar causes unnecessary scroll with height 100% on subsequent elements */
  margin-top: -52px;
  padding-top: 52px;
}

.row#main {
  height: 100%;
}

#content {
  padding-top: 20px;
  height: 100%;
}

.row#main_row {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.row.above_log {
  margin-bottom: -200px;
  padding-bottom: 200px;
}

div#log {
  /* height must match margin-bottom of #main_row */
  background: #222;
  color: #999;
  white-space: pre-wrap;
  height: 200px;
  margin: 0 -15px 0 -15px;
  padding: 0 0 0 15px;
  overflow-y: scroll;
  font-family: Consolas, Menlo, Courier, monospace;
}

#sidenav {
  height: 100%;
  padding: 0;
}

#sidenav .list-group {
  height: 100%;
  background: #333;
  border-radius: 0;
  margin: 0;
}

#sidenav .list-group-item {
  color: #ddd;
  background: #333;
  border: none;
  font-size: 14px;
  font-family: 'Doppio One', sans-serif;
  padding: 15px 0 15px 17px;
  border-radius: 0;
}

#sidenav .list-group-item:focus, #sidenav .list-group-item:hover {
  color: #eee;
  background-color: #444;
}

#sidenav .list-group-item.active, #sidenav .list-group-item.active:focus, #sidenav .list-group-item.active:hover {
  color: #fff;
  background-color: cornflowerblue;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

td.item_selector, td.item_selector > input {
  cursor: pointer;
}

textarea.form-control {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
  background: aliceblue;
}


/* Loader */
#circleG{
  width:34px;
  margin:auto;
  display: inline-block;
  float: right;
  padding-top: 7px;
}

.circleG{
  background-color:rgb(255,255,255);
  float:left;
  height:7px;
  margin-left:4px;
  width:7px;
  animation-name:bounce_circleG;
  -o-animation-name:bounce_circleG;
  -ms-animation-name:bounce_circleG;
  -webkit-animation-name:bounce_circleG;
  -moz-animation-name:bounce_circleG;
  animation-duration:1.3675s;
  -o-animation-duration:1.3675s;
  -ms-animation-duration:1.3675s;
  -webkit-animation-duration:1.3675s;
  -moz-animation-duration:1.3675s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

#circleG_1{
  animation-delay:0.2695s;
  -o-animation-delay:0.2695s;
  -ms-animation-delay:0.2695s;
  -webkit-animation-delay:0.2695s;
  -moz-animation-delay:0.2695s;
}

#circleG_2{
  animation-delay:0.6355s;
  -o-animation-delay:0.6355s;
  -ms-animation-delay:0.6355s;
  -webkit-animation-delay:0.6355s;
  -moz-animation-delay:0.6355s;
}

#circleG_3{
  animation-delay:0.8185s;
  -o-animation-delay:0.8185s;
  -ms-animation-delay:0.8185s;
  -webkit-animation-delay:0.8185s;
  -moz-animation-delay:0.8185s;
}

@keyframes bounce_circleG{
  0%{}
  50%{
  background-color:rgb(100,149,237);
  }
  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}
  50%{
  background-color:rgb(100,149,237);
  }
  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}
  50%{
  background-color:rgb(100,149,237);
  }
  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}
  50%{
  background-color:rgb(100,149,237);
  }
  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}
  50%{
  background-color:rgb(100,149,237);
  }
  100%{}
}


#filters {
  position: relative;
  z-index: 9999;
  top: -28px;
  left: 150px;
  display: inline-block;
}

.search-filter {
  background: #ddd;
  font-size: 12px;
  padding: 3px 7px 4px 7px;;
  margin: 4px;
  font-weight: 500;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
}

.search-filter .glyphicon {
  color: #aaa;
  top: 2px;
  padding-left: 3px;
  left: 2px;
  cursor: pointer;
}

.search-filter .glyphicon:hover {
  color: #777;
}

#searchicon {
  float: right;
  top: -24px;
  left: -14px;
  color: #bbb;
  z-index: 9999;
}


/*This is for the resource graphs*/
.graph-line {
  fill: none;
  stroke-width: 3px;
}


.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
