<app-services-header></app-services-header>
<div id="item_list_container">
  <table id="item_list" class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Kube Name</th>
        <th>Namespace</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr app-service *ngFor="let service of services | Search:servicesService.searchString | paginate: { itemsPerPage: 10, currentPage: p[i], id: id }" [service]="service"></tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <pagination-controls (pageChange)="p[i] = $event" [id]="id"></pagination-controls>
  </nav>
</div>
