<div class="app-clusters-container">
  <section class="app-clusters-new">

    <header class="app-context-header-panel">
      <button *ngIf="schema" type="button" class="back-button" (click)="back()"></button>
      <button *ngIf="!schema" type="button" class="back-button" [routerLink]="['/clusters']"></button>

      <h2><i class="fa fa-server"></i> Create a Cluster</h2>
    </header>

    <div *ngIf="hasCloudAccount">
      <h3 *ngIf="!schema">Select a Cloud Account</h3>
      
      <div *ngIf="!schema">
        <button *ngFor="let provider of providers" type="button" class="btn btn-primary" (click)="sendChoice(provider)">{{ provider.name }}</button>
      </div>
      
      <div *ngIf="schema">
        <json-schema-form framework="bootstrap-4" [schema]="schema" [layout]="layout" [data]="data" (onSubmit)="createKube(value)" (onChanges)="value=$event"></json-schema-form>
      </div>
    </div>

    <div *ngIf="!hasCloudAccount" class="clusters-index-empty no-cloud-account">
      <p>
        A
        <a [routerLink]="['/system/cloud-accounts']">Cloud Account</a>
        is missing.
      </p>
  
      <p>
        <button type="button" class="btn btn-primary" [routerLink]="['/system/cloud-accounts/new']">Add Your First Cloud Account</button>
      </p>
    </div>
  </section>
</div>
