<ng-template #dropdownModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div ngbDropdown>
      <button class="btn btn-primary btn-block" ngbDropdownToggle>Select a {{ type }}</button>
      <div class="dropdown-menu" aria-labelledby="actions">
        <button *ngFor="let option of options" class="dropdown-item" (click)="sendChoice(option)">{{ option }}</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
