<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="kube.id" (ngModelChange)="kubesService.selectItem(kube, $event)" checked="false" [ngModel]="kubesService.isChecked(kube)" />
      <label [for]="kube.id"></label>
    </div>
  </div>
</td>
<td>{{ kube.name }}</td>
<td>{{ kube.master_node_size }}</td>
<td>
  <div class="status-container">
    <div *ngIf="progress" class="bar-width">
      <ngb-progressbar [value]="progressValue">{{ kube.status.description }}</ngb-progressbar>
    </div>
    <div [class]="status(kube)"></div>
  </div>
  <button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="[kube.id]">Details >></button>
</td>
