/*Progress Bar*/

div.status-container {
  width: 160px;
  height: 20px;
  float: left;
}

div.bar-width {
  width: 140px;
  padding-left: 5px;
  padding-top: 2px;
  float: right;
}


/*Check Box*/

/.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
  background-color: #0e6ccc;
  border-color: #0e6ccc;
}

.round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f1f2f3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
}


/*STATUS*/

.status-text {
  position: relative;
  bottom: 6px;
  left: 7px;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.status:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  position: relative;
}

.status-ok {
  border: 1px solid #19ce55;
}

.status-ok:after {
  background: #19ce55;
}

.status-warning {
  border: 1px solid #ffbb33;
}

.status-warning:after {
  background: #ffbb33;
}

.status-danger {
  border: 1px solid #CC0000;
}

.status-danger:after {
  background: #CC0000;
}

.status-transitioning {
  border: 1px solid white;
  border-top-color: rgba(14, 108, 204, 1);
  border-left-color: rgba(14, 108, 204, 1);
  animation-name: rotate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.status-transitioning:after {
  background: #0e6ccc;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
