.badTextarea, .badTextarea:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.goodTextarea, .goodTextarea:focus {
  box-shadow: 0 0 5px rgba(0, 255, 71, 0.5);
  border: 1px solid rgba(0, 255, 71, 0.5);
}

.array-add-button {
  margin: 5px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.array-remove-button {
  margin: 2px;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.schema-form-submit {
  visibility: hidden;
}
