<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <ngb-tabset type="pills" justify="center" (tabChange)="setModel(value, $event)">
      <ngb-tab title="Simple" [disabled]="isDisabled">
        <ng-template ngbTabContent>
          <!-- <sf-form [schema]="schema" [model]="model" (onChange)="value=$event.value; model=value"></sf-form> -->
          <json-schema-form framework="bootstrap-3" [schema]="schema" [data]="model" (onSubmit)="onSubmit(value)" (onChanges)="value=$event">
          </json-schema-form>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" (click)="onSubmit(value)">{{ action }}</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Advanced" [disabled]="isDisabled" select="setModel(value)">
        <ng-template ngbTabContent>
          <div class="form-group">
            <textarea rows=20 [className]="textStatus" name="json_input" (keyup)="convertToObj($event.target.value)" (keypress)="convertToObj($event.target.value)" (keydown)="convertToObj($event.target.value)">
{{model | json}}
          </textarea> {{ badString }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" (click)="onSubmit()" [disabled]="isDisabled">{{ action }}</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-template>
