<td>
  <div class="container">
    <div class="round">
      <input type="checkbox" [id]="cloudAccount.id" (ngModelChange)="cloudAccountsService.selectItem(cloudAccount, $event)" checked="false" [ngModel]="cloudAccountsService.isChecked(cloudAccount)" />
      <label [for]="cloudAccount.id"></label>
    </div>
  </div>
</td>
<td>{{ cloudAccount.name }}</td>
<td>{{ cloudAccount.provider }}</td>
<td><button type="button" class="btn btn-sm pull-right btn-info" [routerLink]="[cloudAccount.id]">Details >></button></td>
