/*STATUS*/

.status-text {
  position: relative;
  bottom: 6px;
  left: 7px;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.status:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  position: relative;
}

.status-ok {
  border: 1px solid #19ce55;
}

.status-ok:after {
  background: #19ce55;
}

.status-warning {
  border: 1px solid #ffbb33;
}

.status-warning:after {
  background: #ffbb33;
}

.status-danger {
  border: 1px solid #CC0000;
}

.status-danger:after {
  background: #CC0000;
}

.status-transitioning {
  border: 1px solid white;
  border-top-color: rgba(14, 108, 204, 1);
  border-left-color: rgba(14, 108, 204, 1);
  animation-name: rotate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.status-transitioning:after {
  background: #0e6ccc;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
