<div id="control-bar">
  <div class="btn-group"></div>
  <button class="btn btn-sm btn-info" (click)="goBack()">
    <i class="fa fa-chevron-left"></i>
    Back
  </button>
</div>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Info">
    <ng-template ngbTabContent>
      <div *ngIf="user" class="graph-container">
        <b>User Name:</b> {{ user.username }}<br />
        <b>Role:</b> {{ user.role }}<br />
        <b>API Token:</b> {{ user.api_token }}<br />
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Raw Data">
    <ng-template ngbTabContent>
      <textarea class="form-control" disabled>
{{user | json}}
      </textarea>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
