<app-nodes-header></app-nodes-header>
<!-- <app-header></app-header> -->
<div id="item_list_container">
  <table id="item_list" class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Kube Name</th>
        <th>Size</th>
        <th>Provider ID</th>
        <th>CPU Usage</th>
        <th>RAM Usage</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr app-node *ngFor="let node of nodes | Search:nodesService.searchString | paginate: { itemsPerPage: 10, currentPage: p[i], id: id }" [node]="node"></tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <pagination-controls (pageChange)="p[i] = $event" [id]="id"></pagination-controls>
  </nav>
</div>
