<h2>Nodes</h2>

<div class="subcontext-actions">
  <div *ngIf="selected.length === 0" class="form-group row">
    <mat-form-field>
      <mat-select placeholder="Node Size" [(ngModel)]="selectedSize">
        <mat-option *ngFor="let option of kube.node_sizes" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createNode()">Create Node</button>
  </div>

  <div *ngIf="selected.length > 0">
    <button mat-raised-button color="warn" (click)="delete()">Delete Selected Node</button>
  </div>
</div>

<ngx-datatable class="material expandable" [rows]="nodes" [columnMode]="'force'" [columns]="nodecolumns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
  [displayCheck]="displayCheck" (activate)="onActivate($event)" (select)='onSelect($event)' (tableContextmenu)="onTableContextMenu($event)">
  <ngx-datatable-column name="checkbox" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
  <ngx-datatable-column name="Size" prop="size"></ngx-datatable-column>
  <ngx-datatable-column name="IP" prop="ip"></ngx-datatable-column>
  <ngx-datatable-column name="Usage" prop="usage">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      {{column.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <canvas baseChart width="200" height="50" [datasets]="row['chartData']" [labels]="rowChartLabels" [legend]="rowChartLegend" [options]="rowChartOptions" [colors]="rowChartColors" [chartType]="rowChartType">
      </canvas>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="contextDelete($event.item)">
    Delete <i>&quot;{{item?.name}}&quot;</i>
  </ng-template>
</context-menu>