<ng-template #repoModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    Helm Repos
  </div>
  <div class="modal-body">
    <div id="item_list_container">
      <table id="item_list" class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repos">
            <td>
              <div class="container">
                <div class="round">
                  <input type="checkbox" [id]="repo.id" (ngModelChange)="repoModalService.selectItem(repo, $event)" checked="false" [ngModel]="repoModalService.isChecked(repo)" />
                  <label [for]="repo.id"></label>
                </div>
              </div>
            </td>
            <td>{{ repo.name }}</td>
            <td>{{ repo.url }}</td>
          </tr>
          <tr *ngIf="new">
            <td>
            </td>
            <td>Name:
              <input [(ngModel)]="name"></td>
            <td>URL: <input [(ngModel)]="url"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!new && !selected()" type="submit" class="btn btn-info" (click)="onSubmit()">New</button>
    <button *ngIf="new && !selected()" type="submit" class="btn btn-primary" (click)="save()">Save</button>
    <button *ngIf="selected()" type="submit" class="btn btn-danger" (click)="deleteRepo()">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
