/*
  Layout Rules
  ==========

  Layout rules divide the page into sections. Layouts hold one or more modules
  together.
*/


#container,
#sidebar,
#content {
  height: 100%;
  margin: 0;
}

#container {
  /*display: table;*/
  /*position: absolute;*/
}

#sidebar, #content {
  /*display: table-cell;*/
  box-sizing: border-box;
  /*vertical-align: top;*/
}

#sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
  float: left;
  overflow-y: hidden;
}

#content {
  /*width: 100%;*/
  background: #f2f1f7;
  margin-left: 250px;
}

#logo {
  display: block;
  height: 160px;
  text-indent: -9999px;
  background: url(/ui/assets/img/supergiant.svg) no-repeat;
  background-size: 130px auto;
  background-position: center;
}

#nav a {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-size: 13px;
  display: block;
  padding: 13px 59px;
  border-top: 1px solid #ddd;
}

#nav a:hover, #nav a:active {
  background: #fafafa;
}

#nav a.active {
  background: #0e6ccc;
  color: white;
}

#nav a:last-child {
  border-bottom: 1px solid #ddd;
}

a#new::after {
  content: "+";
  font-size: 17px;
  line-height: 0;
  position: relative;
  left: 8px;
  top: 2px;
  padding-right: 3px;
}


.app-header {
  height: 4rem;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $zindex-app-header;

  simple-notifications {
    z-index: $zindex-notifications;
  }

  .app-nav-container {
    @extend .container-fluid;
    @extend ._layer-shadow;

    background: $app-accent-color;
    color: $app-text-color-inverted;

    .app-nav {
      @extend .navbar;
      @extend .navbar-expand;
      @extend .row;
      @extend .justify-content-center;

      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      .app-nav-logo {
        @extend .navbar-brand;
        @extend .col-10;
        @extend .col-sm-2;
        @extend .col-md-3;
        @extend .col-lg-2;

        display: block;
        background-size: contain;
        background-position: 0 50%;
        text-align: left;
        text-indent: -5000em;
        background-repeat: no-repeat;
        background-image: $brand-image-data-silhouette;
      }

      .app-nav-main {
        @extend .col;

        .app-nav-bar {
          @extend .navbar-nav;
          @extend .mr-auto;
          @extend .nav-fill;

          a {
            border-bottom: 4px solid transparent;
            font-family: Montserrat, sans-serif;
            font-size: 0.6rem;
            font-weight: 300;
            height: 64px;
            letter-spacing: 0.05em;
            line-height: 52px;
            margin-bottom: -0.75rem;
            margin-top: -0.75rem;
            text-transform: uppercase;

            i.fa {
              font-size: 1.4em;
              margin-right: 0.2em;
              opacity: 0.7;
              vertical-align: text-bottom;
            }

            &.active {
              background-color: transparent;
              border-bottom-color: #9BDCFF;

              i.fa {
                opacity: 1;
              }
            }

            @include media-breakpoint-up(md) {
              font-size: 1rem;
            }
          }
        }
      }

      .app-metanav {
        @extend .text-right;
        @extend .col-sm-3;
        @extend .col-md-3;
        @extend .col-lg-2;

        .app-nav-toggler {
          @extend .navbar-toggler;
          @extend .btn;
          @extend .btn-translucent;

          color: $app-text-color-inverted;
        }

        .app-metanav-btn,
        .app-usermenu-btn {
          @extend .btn;
          @extend .btn-translucent;

          color: $app-text-color-inverted;
        }

        .app-usermenu-btn {
          i.fa {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

.app-body {
  @extend .container-fluid;

  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 4rem;
  z-index: $zindex-app-body;

  .app-assist-toggles {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: inline-block;
    z-index: $zindex-app-assist-toggles;

    label {
      background: $app-interactive-object-color-alt;
      border-radius: 100%;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: block;
      height: 2rem;
      line-height: 2rem;
      overflow: hidden;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 2rem;

      &:hover {
        background: $app-interactive-object-hover-color-alt;
        cursor: pointer;
      }
    }
  }

  .app-main {
    -ms-flex-wrap: wrap;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $zindex-app-main;

    .app-assist-toggle-status {
      position: absolute;
      display: none;
    }

    .app-context {
      @extend ._scrollable;

      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    .app-assist {
      @extend .col;

      background: #fff;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
      margin: 0;
      max-width: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: max-width .5s ease-in-out;

      .app-assist-content {
        @extend ._scrollable;

        bottom: 0;
        min-width: 16rem;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    .app-assist-toggle-status:checked ~ .app-assist {
      @extend .col-4;

      margin: 0;
      padding: 0;
    }
  }
}

.app-footer {
  bottom: 0;
  height: auto;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: $zindex-app-footer;
}
