/*
  Modules
  =======
  These are the reusable, modular parts of our design. They are the callouts,
  the sidebar sections, the product lists and so on.
*/


.round {
  position: relative;

  label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;

    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 5px;
      left: 3px;
      opacity: 0;
      position: absolute;
      top: 5px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }

  input {
    &[type="checkbox"] {
      visibility: hidden;

      &:checked+label {
        background-color: #0e6ccc;
        border-color: #0e6ccc;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}


// Buttons

.btn {
  cursor: pointer;
}

.btn-default {
  @extend .btn-light;
}

.btn-translucent {
  @extend .btn-secondary;

  background-color: transparent;
  border-color: transparent;

  &:hover {
    background-color: rgba(#666, 0.3);
    border-color: transparent;
  }
}

a.quickstatus {
  background: lighten($app-interactive-object-color, 33%);
  border-radius: $border-radius;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 1rem;
  padding: 1rem;
  text-align: center;

  &:hover {
    background: $app-interactive-object-hover-color;
    text-decoration: none;
  }

  .quickstatus-label {
    display: block;
    font-size: 0.8em;
  }
  .quickstatus-data {
    display: block;
    font-size: 1.5em;
  }
}


// Tabbed Navigation

.nav {
  &.nav-tabs {
    border-bottom: none;
    font-size: 1rem;
    box-shadow: inset 0 -10px 30px -20px rgba(0, 0, 0, 0.3);

    .nav-link {
      background-color: transparent;
      border-width: 0 0 4px;
      border-color: transparent;

      &.active {
        background-color: #fff;
        border-color: #660066;
      }
    }
  }
}


// Menus

.dropdown-item {
  font-size: 0.8rem;

  i.fa {
    margin-right: 0.5em;
    opacity: 0.5;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.primary-actions {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.app-context-header-panel {
  padding: 1rem 0;

  .back-button {
    @extend .fa;
    @extend .fa-chevron-left;
    @extend ._interactive-shadow-none;

    background-color: $light;
    color: #555;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 3rem;
    line-height: 3rem;
    margin-right: 1rem;
    margin-bottom: -1rem;
    position: relative;
    text-align: center;
    top: -0.333rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3rem;

    transition: box-shadow 0.2s ease-in-out,
       background-color 0.2s ease-in-out;

    &:hover {
      @extend ._interactive-shadow-light;

      background-color: darken($light, 5%);
    }

    & + h1 {
      position: relative;
      top: 0.333rem;
    }
  }

  h1, h2, h3 {
    display: inline-block;
    margin-right: 2rem;
  }

  .context-search-layout {
    display: inline-block;
    margin: 0 1rem -1rem;
    min-width: 40%;
    position: relative;
    top: -0.25rem;

    &:before {
      @extend .fa;
      @extend .fa-search;

      font-size: 1.1rem;
      left: 1rem;
      position: absolute;
      top: 1rem;
    }

    input[type="search"] {
      @extend ._interactive-shadow-none;

      background: #f5f5f5;
      border: none;
      border-radius: 2px;
      display: inline-block;
      font-size: 1rem;
      height: 3rem;
      padding-left: 3rem;
      width: 100%;

      &:focus,
      &:active {
        @extend ._interactive-shadow-light;

        background: #fff;
        outline: none;

        transition: box-shadow 0.2s ease-in-out,
           background-color 0.2s ease-in-out;
      }
    }
  }

  .context-secondary-panel {
    padding: 1rem 0;
  }
}


.tutorial-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    text-align: center;

    a.btn.btn-primary {
      color: #fff;
    }
  }

  .tutorial-step-pager {
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 3rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #aaa;
    cursor: pointer;
    display: none;
    font: normal normal normal 28px/1 FontAwesome;
    height: 4rem;
    left: -44.5%;
    margin-top: -2rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-indent: -5000px;
    text-rendering: auto;
    top: 50%;
    -webkit-font-smoothing: antialiased;
    width: 4rem;
    z-index: 2;

    transition: opacity 0.4s ease-in-out,
       box-shadow 0.2s ease-in-out,
       border-color 0.2s ease-in-out,
       color 0.2s ease-in-out,
       background-color 0.2s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #999;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
      border-color: #aaa;
    }

    &::before {
      content: "\F104";
      display: inline-block;
      height: 1rem;
      left: 2.5rem;
      margin-top: -.5em;
      position: absolute;
      text-indent: 0;
      top: 50%;
      width: 1rem;
    }
  }
  .tutorial-step-previous {
    @extend .tutorial-step-pager;
  }
  .tutorial-step-next {
    @extend .tutorial-step-pager;
    
    left: auto;
    right: -44.5%;
    
    &::before {
      content: "\F105";
      left: 1rem;
      right: auto;
    }
  }
  &:hover .tutorial-step-previous,
  &:hover .tutorial-step-next {
    opacity: 1;
  }
}


.app-dashboard-tutorial {
  @extend ._layer-shadow;

  background: #f8f8f8;
  left: 50%;
  margin-left: -430px;
  position: fixed;
  text-align: center;
  top: 100px;
  width: 860px;
  z-index: $zindex-tutorials;

  > input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #f8f8f8;
    border-color: #ddd;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    height: 1rem;
    left: calc(430px - 0.5rem);
    outline: none;
    position: absolute;
    top: 22rem;
    width: 1rem;
    z-index: 2;

    &:nth-of-type(1) {
      left: calc(400px - 0.5rem);
    }

    &:nth-of-type(3) {
      left: calc(460px - 0.5rem);
    }

    &:hover {
      background: #ddd;
    }

    &:checked,
    &:checked:hover {
      background: #66b0ff;
    }
  }

  .tutorial-primary {
    background-color: #fff;
    background-image: $brand-image-data-alt;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: auto 200px;
    overflow: hidden;
    padding: 200px 1rem 1rem;
    position: relative;
    text-align: center;
    height: 22.5rem;
  }

  .tutorial-secondary {
    box-shadow: inset 0 4px 5px -4px rgba(0, 0, 0, 0.2);
    padding: 1rem;

    section + section {
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    h4 {
      color: #444;
      font-family: Montserrat, sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-align: left;
    }
  }

  .tutorial-primary-steps {
    @extend .tutorial-steps;

    left: 0;
    margin: 0 -1rem;
    padding-left: 22.333%;
    position: relative;
    width: 200%;

    transition: left 0.5s ease-in-out;
    
    li {
      filter: blur(5px);
      opacity: 0.333;
      pointer-events: none;

      transition: filter 0.5s ease-in-out,
        opacity 0.5s ease-in-out;

      a {
        width: 66.666%;
      }
    }
  }

  .tutorial-secondary-steps {
    @extend .tutorial-steps;

    padding-bottom: 1rem;

    li {
      a {
        background: transparent;
        border-color: transparent;
        border-radius: 2px;
        border-style: solid;
        border-width: 0;
        color: #555;
        display: inline-block;
        min-width: 9rem;
        padding: 0.5rem 1.5rem;
        text-decoration: none;

        transition: background-color 0.2s ease-in-out,
          border-color 0.2s ease-in-out,
          box-shadow 0.2s ease-in-out,
          color 0.2s ease-in-out;

        &:hover {
          @extend ._interactive-shadow-light;

          background: #fff;
          border-color: #ddd;
          color: #222;
          text-decoration: none;
        }
      }
    }
  }
}


// Bootstrap Form Tweaks

.form-group:last-child {
  margin-bottom: 0;
}


textarea.monospace {
  @extend .form-control;
  
  font-family: monospace;
}