<div class="app-apps-container">
  <section class="app-apps-index">
    <div class="app-context-header-panel">
      <h2>
        <button type="button" class="back-button" (click)="goBack()"></button>
        <i class="fa fa-puzzle-piece"></i>
        Deploy New App : {{model?.chart_name}}
      </h2>

      <div class="context-secondary-panel">
      </div>
    </div>

    <json-schema-form *ngIf="loaded" framework="bootstrap-3"
    [schema]="schema"
    [data]="model"
    (onSubmit)="create(value)"
    (onChanges)="value=$event">
    </json-schema-form>
  </section>
</div>
